**/log/
/log/
*.log
*.csv


**/*.json
!mergerConfig.json
!parserConfig.json


localization/fingerprint/data/*.h5
localization/fingerprint/data/*.csv
**/*.log
**/*.txt
osmohlr/hlr.db
osmohlr/hlr.db-shm
osmohlr/hlr.db-wal
osmomsc/sms.db
osmomsc/sms.db-shm
osmomsc/sms.db-wal
*.ctxt
